
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-2">
            <div class="text-center text-xl-left text-muted">
              <a href="mailto:adam.elbernoussi@ensae.fr,perann.nedjar@ensae.fr,mathieu.lepage@ensae.fr,iokanaan.belfis@ensae.fr?subject=Oh no ! Something went wrong with STATAPP (2024)"
                 class="font-weight-bold ml-1" target="_blank">Get Support</a>
            </div>
          </div>
          <div class="col-xl-10">
            <div class="text-center text-xl-right text-muted">
              <a href="https://www.ensae.fr/courses/1408-groupe-de-statistique-appliquee" 
                 class="font-weight-bold ml-1" target="_blank"> &copy; STAT_APP project</a> 
                 - coded by
                <a class = "font-weight-bold ml-1" href="mailto:perann.nedjar@ensae.fr">Nedjar Perann</a>,
                <a class = "font-weight-bold ml-1" href="mailto:iokanaan.belfis@ensae.fr">Belfis-Simon Iokanaan</a>,
                <a class = "font-weight-bold ml-1" href="mailto:mathieu.lepage@ensae.fr">Lepage Mathieu</a> and
                <a class = "font-weight-bold ml-1" href="mailto:adam.elbernoussi@ensae.fr">El Bernoussi Adam</a>
            </div>
          </div>
        </div>
      </footer>
