
    <footer class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-12">
            <div class="text-center text-co-white">
               &copy; STAT_APP project - 2024
            </div>
            <div class="text-center text-co-white">
              By 
              <a class = "text-light" href="mailto:perann.nedjar@ensae.fr">Nedjar Perann</a>,
              <a class = "text-light" href="mailto:iokanaan.belfis@ensae.fr">Belfis-Simon Iokanaan</a>,
              <a class = "text-light" href="mailto:mathieu.lepage@ensae.fr">Lepage Mathieu</a> and
              <a class = "text-light" href="mailto:adam.elbernoussi@ensae.fr">El Bernoussi Adam</a>
           </div>
          </div>
        </div>
      </div>
    </footer>
